/* variables */
/*Fuentes*/
$fuente_principal: 'Raleway', sans-serif;

/*Colores*/
$principal: #33C3F0;
$secundario: #741d51;
$terciario: #e44352;
$blanco: #ffffff;
$gris: #f2f2f2;
$negro: #000000;

/*Para tamaño de media Queries*/
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;